/* label {
    font-weight: 600;
    color: #666;
}
body {
  background: #f1f1f1;
}
.box8{
  box-shadow: 0px 0px 5px 1px #999;
}
.mx-t3{
  margin-top: -3rem;
} */

h2 {
  text-align: center;
  color: rgb(85, 161, 248);
}

.classtag {

  margin-bottom: -20px;
}

div {
  margin: 10px auto;
  background-color: rgb(229, 226, 215);
  padding: 20px;
  border-radius: 30px;
  box-shadow: 2px 5px 5px rgb(234, 220, 220);
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 05px;
}

input,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

input[type="checkbox"] {
  display: inline-block;
  width: auto;
  margin-right: 5px;
}

input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}