<section class="contact-area" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="contact-content text-center">
                    <a class="navbar-brand" href="#"><img src="../../../assets/logo.png" width="150" height="100"></a>
                    <p>Sharpen your skills with the best prices of the season. Courses at low prices.</p>
                    <div class="hr"></div>
                    <h6>1st floor, CNR Heights, Ramji Nagar, Pinakini Avenue, Nellore</h6>
                    <h6>+91 8897227322<span>|</span>+91 8500553458</h6>
                    <div class="contact-social">
                        <ul>
                            <li><a class="hover-target" href=""><i class="fab fa-facebook-f"></i></a></li>
                            <li><a class="hover-target" href=""><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a class="hover-target" href=""><i class="fab fa-github"></i></a></li>
                            <li><a class="hover-target" href=""><i class="fab fa-behance"></i></a></li>
                            <li><a class="hover-target" href=""><i class="fab fa-pinterest-p"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer>
    <p>Copyright &copy; 2023 <img src="../../../assets/logo.png" width="20" height="20"> All Rights Reserved.</p>
</footer>