<section class="top-banner">
    <a class="btn-modal" href="javascript:void(0)" data-target="#callMeBox" data-toggle="modal">
        <div class="call-me">
            call me
            <br>            
            <i class="fa fa-phone"></i>            
        </div>
    </a>
    <div class="wrapper col-sm-12">
        <div class="row">
            <div class="left-content col-sm-6">
                <div class="heading1">India's most loved</div>
                <h1 class="main-heading">Live Online Tuitions</h1>
                <div class="color-bars"></div>
                <div class="sub-heading">Trusted by school students since 2009</div>
                <ul class="section-points">
                    <li>                            
                        Interactive classes with the best teachers
                    </li>
                    <li>
                        Concept videos, Interactive games &amp; downloadable revision notes
                    </li>
                    <li>
                        Chapter tests, sample papers, board papers and smart reports
                    </li>
                    <li>
                        24X7 doubt resolution with experts via chat
                    </li>
                </ul>
                <a onclick="trackGaEvent('Register_header','Button','Click');" class="btn btn-primary hidden-xs register-btn mnRegistrationPopup">Register for trial class</a>
                <a onclick="trackGaEvent('Homepage_New1','Login_Header','Login');" class="btn btn-primary visible-xs register-btn login-btn mnLoginPopup">Register for trial class</a>
                <!-- <div class="app-logo">
                    <h4>India's best learning app</h4>
                    <div class="app-icons">
                        <a>
                            <img src="https://img-nm.mnimgs.com/img/site_content/meritnation/newHome/homepage/google-playstore.png?v=1" alt="">
                        </a>
                    </div>                        
                </div> -->
            </div>
            <div class="main-banner col-sm-6">
                <img class="to_fade_up fade_up" alt="…" src="../../../assets/transparent.png" height="600" width="900">
                <!-- <picture> 
                    <source media="(min-width: 1920px)" srcset="https://img-nm.mnimgs.com/img/site_content/meritnation/newHome/homepage/main-banner-1920.png?v=1">
                    <source media="(min-width: 1600px)" srcset="https://img-nm.mnimgs.com/img/site_content/meritnation/newHome/homepage/main-banner-1600.png?v=1">
                    <source media="(min-width: 768px)" srcset="https://img-nm.mnimgs.com/img/site_content/meritnation/newHome/homepage/main-banner-1366.png?v=1">                        
                    <source media="(min-width: 320px)" srcset="https://img-nm.mnimgs.com/img/site_content/meritnation/newHome/homepage/main-banner-360.png?v=1">
                   
                </picture> -->
                <!-- <img class="to_fade_up" src="/img/site_content/meritnation/newHome/homepage/main-banner.png" alt=""> -->
            </div>
        </div>
    </div>
</section>